<div class="container">
  <div class="gem_detail">
    <span id="gem_name"><a ng-href="{{detail.project_uri}}">{{detail.name}}</a></span> -
    <span id="gem_version">{{detail.version}}</span> -
    <span id="gem_source_code"><a ng-href="{{sourceUrl}}">source</a></span> -
    <span id="gem_info">{{detail.info}}</span>
  </div>

  <div class="gem_compare">
    base: v1.0.0 compare: v1.0.1 Compare!
  </div>

  <div class="gem_readme">
    README:
    <div ng-bind-html="readme"></div>
  </div>

  <div class="gem_changelog">
    CHANGELOG:
  </div>
</div>

<button ng-model="fordebug" ng-click="fordebug=!fordebug">object</button>
<div ng-show="fordebug">
<ul>
  <li data-ng-repeat="(key, value) in detail">{{key}}: {{value}}</li>
</ul>
{{sourceUrl}}
</div>
