<div class="container">
  <div class="gem_detail">
    <span id="gem_name">
      <span ng-if="detail.source_code_uri.length"><a ng-href="{{detail.source_code_uri}}">{{detail.name}}</a></span>
      <span ng-if="!detail.source_code_uri.length">{{detail.name}}</span>
    </span> -
    <span id="gem_version">{{detail.version}}</span> -
    <span id="gem_info">{{detail.info}}</span>
  </div>

  <div class="gem_compare">
    base: v1.0.0 compare: v1.0.1 Compare!
  </div>

  <div class="gem_readme">
    README:
  </div>

  <div class="gem_changelog">
    CHANGELOG:
  </div>
</div>

<ul>
  <li data-ng-repeat="(key, value) in detail">{{key}}: {{value}}</li>
</ul>
