<div class="container">
  <div class="description jumbotron" ng-show="siteDescription">
    This is RubyHandCooler example below, the page is <a ng-href="#/gems/{{gemName}}">{{gemName}}</a>'s.
    Easy to search rubygems, easy to check readme, easy to compare code.
    The other examples:
    <ul class="list-unstyled list-inline">
      <li ng-repeat="name in exampleGems"><a ng-href="#/gems/{{name}}">{{name}}</a></li>
    </ul>
    <ul ng-social-buttons
        data-url="'http://sanemat.github.io/hand_cooler/'"
        data-title="'HandCooler: Be Better Rubygems.org'"
        data-description="'Easy to search rubygems, easy to check readme, easy to compare code.'"
        data-image="'https://s3.amazonaws.com/cornflower1/file6691313077352.jpg'"
        class="nav navbar-nav navbar-right">
      <li>Share:</li>
      <li class="ng-social-facebook">Facebook</li>
      <li class="ng-social-google-plus">Google+</li>
      <li class="ng-social-twitter">Twitter</li>
      <li class="ng-social-github" user="sanemat" repository="hand_cooler">GitHub</li>
      <li class="ng-social-github-forks" user="sanemat" repository="hand_cooler">Forks</li>
    </ul>
  </div>
  <div class="gem_detail">
    <span id="gem_name"><a ng-href="{{detail.project_uri}}">{{detail.name}}</a></span> -
    <span id="gem_version">{{detail.version}}</span> -
    <span id="gem_source_code"><a ng-href="{{sourceUrl}}">source</a></span> -
    <span id="gem_info">{{detail.info}}</span>
  </div>

  <div class="gem_compare">
    <form ng-submit="doCompare(tags)">
      base: <select ng-model="tags.base"
                    ng-options="tag for tag in tags"></select>
      compare: <select ng-model="tags.compare"
                       ng-options="tag for tag in tags"></select>
      <button class="btn btn-default" type="submit">Compare</button>
    </form>
    <a ng-href="{{compareUrl}}">{{compareUrl}}</a>
  </div>

  <div class="gem_readme">
    <div>README:</div>
    <div ng-bind-html="readme"></div>
  </div>

  <div class="gem_changelog">
    CHANGELOG: ~~feature~~
  </div>
</div>

<button ng-model="fordebug" ng-click="fordebug=!fordebug">object</button>
<div ng-show="fordebug">
<ul>
  <li data-ng-repeat="(key, value) in detail">{{key}}: {{value}}</li>
</ul>
{{sourceUrl}}
{{tags}}
</div>
