<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">HandCooler</h3>
  <div class="input-append">
    <input type="text" class="search-query" placeholder="Gem Name" ng-model="query">
    <button type="submit" class="btn">
      <i class="icon-search"></i>
    </button>
  </div>
</div>

<div class="container">
  Search: <input ng-model="query">

  <ul>
    <li data-ng-repeat="gem in gems | filter:query">
      {{gem.name}}
    </li>
  </ul>
</div>

<div class="footer">
  <p>HandCooler :)</p>
</div>
