<div class="container">
  <div class="gems">
    <ul style="list-style-type: none;">
      <li ng-repeat="gem in gems">
        <div class="title">
        <a ng-href="#/gems/{{gem.name}}">
          <span class="gem_name">{{gem.name}}</span>
        </a>
        - <span class="gem_version">{{gem.version}}</span>
        </div>
        <div class="description">
          <span class="gem_info" title="{{gem.info}}" bs-tooltip>{{gem.info}}</span>
        </div>
        <div class="extra">
          <ul style="padding-left: 0;">
            <li class="gem rubygems" ng-show="gem.project_uri" style="display: inline;"><a ng-href="{{gem.project_uri}}">rubygems</a></li>
            <li class="gem repos" ng-show="getReposUrl(gem)" style="display: inline;"><a ng-href="{{getReposUrl(gem)}}">code</a></li>
            <li class="gem download" ng-show="gem.downloads && gem.version_downloads" style="display: inline;">{{gem.downloads}}({{gem.version_downloads}})</li>
            <li class="gem authors" ng-show="gem.authors" style="display: inline;">{{gem.authors}}</li>
          </ul>
        </div>
      </li>
    </ul>
    Search for {{query}}, display {{gems.length}} gems.
    <span ng-show="doesExistPrev || doesExistNext">
      Page {{pageCount}}.
    </span>
    <div style="display: inline-block" ng-show="doesExistPrev || doesExistNext">
      <ul>
        <li style="display: inline" ng-show="doesExistPrev"><a ng-href="#/search/{{query}}/{{pageCount - 1}}">Prev</a></li>
        <li style="display: inline" ng-show="doesExistNext"><a ng-href="#/search/{{query}}/{{pageCount + 1}}">Next</a></li>
      </ul>
    </div>
  </div>
</div>

<button ng-model="fordebug" ng-click="fordebug=!fordebug">object</button>
<ul ng-show="fordebug">
  <li data-ng-repeat="(key, value) in gems">{{key}}: {{value}}</li>
</ul>
