<div class="container">
  <div class="gems">
    Search for {{query}}, display {{gems.length}} gems.
      page {{pageCount}}.
    <span ng-show="doesExistNext || pageCount > 1">
    </span>
    <div style="display: inline-block" ng-show="doesExistPrev || doesExistNext">
      <ul>
        <li style="display: inline" ng-show="doesExistPrev"><a ng-href="#/search/{{query}}/{{pageCount - 1}}">Prev</a></li>
        <li style="display: inline" ng-show="doesExistNext"><a ng-href="#/search/{{query}}/{{pageCount - 0 + 1}}">Next</a></li>
      </ul>
    </div>
    <ul>
      <li ng-repeat="gem in gems">
        <a ng-href="#/gems/{{gem.name}}">
          <span class="gem_name">{{gem.name}}</span> -
          <span class="gem_version">{{gem.version}}</span> -
          <span class="gem_info">{{gem.info}}</span>
        </a>
        <span class="gem_source_code_uri">
          <span ng-if="gem.source_code_uri.length"><a ng-href="{{gem.source_code_uri}}">code</a></span>
          <span ng-if="!gem.source_code_uri.length">code</span>
        </span>
      </li>
    </ul>
  </div>
</div>

<button ng-model="fordebug" ng-click="fordebug=!fordebug">object</button>
<ul ng-show="fordebug">
  <li data-ng-repeat="(key, value) in gems">{{key}}: {{value}}</li>
</ul>
